<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Text Detector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">

</head>
<body>
    <p>Welcome, {{ current_user.email }}! You're logged in! </p>
    <a class="button" href="/logout">Logout</a>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="myFile" name="filename" accept=".jpg,.jpeg,.png" multiple="false">
        <input type="hidden" id="email" name="email" value=" {{current_user.email }}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="submit">
    </form>
</body>

</html>